/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  height: calc(100vh - 80px);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.intro {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: justify;
  padding: 0 10%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}


footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#graph {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
}